.title {
  margin-top: 10px;
  margin-bottom: 0;
}

.affirmationCard {
  opacity: 0.8;
}

/* screen wider than arbitrary max-width of 500px with 10px margin on each side */
@media (min-width: 520px) {
  .affirmationCard {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* non-landscape phones and regular-sized phones and larger */
@media (min-height: 450px) {
  .button,
  .affirmationCard {
    position: fixed;
    left: 0;
    right: 0;
  }

  .button {
    bottom: 50px;
  }

  .affirmationCard {
    top: 55%;
    transform: translateY(-50%);
  }
}

@media (min-height: 569px) {
  .affirmationCard{
      top: 50%;
  }
}
