.title {
  margin-top: 10px;
  margin-bottom: 0;
}

.affirmationCard {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "content"
    "button";
    font-size: 1.2em;
}
.card {
  opacity: 0.8;
  grid-area: content;
  align-self: center;
}

#button {
  margin-top: 20px;
  margin-bottom: 50px;
  grid-area: button;
  align-self: end;
  font-size: 1.2em;
}

/* screen wider than arbitrary max-width of 500px with 10px margin on each side */
@media (min-width: 520px) {
  .card {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
