.specialtyCard {
    height: calc(100% - 60px);
}

/* phones and regular tablets */
@media (max-width: 1023px){
    .specialtyCard{
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
}