
.specialtyCard {
    opacity: .8;
}

/* large-tablets and computers */
@media (min-width: 1024px){
    .specialtyCard{
        /* making all cards same height, have to subtract padding and margin */
        height: calc(100% - 50px);

        padding: 15px;
    }
    .title{
        margin-bottom: .6em;
        margin-top: 0;
    }
}

