.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;

}
.item{
    width: 90%;

}

/* tablet */
@media (min-width: 768px) {
    .item{
        width: 80%;
    }
}


/* large tablet & computer */
@media (min-width: 1024px){
    .list{
        flex-direction: row;
        align-items: stretch;
        padding: 10px;
    }
    .item{
        flex-basis: 50%;
        width: auto;
        padding-bottom: 10px;
    }
}