.specialtyCard {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

/* phones and regular tablets */
@media (min-width: 1024px){
    .specialtyCard{
        /* making all cards same height, have to subtract padding and margin */
        height: calc(100% - 50px);
        margin: 10px;
        padding: 15px;
    }
    .title{
        margin-bottom: .6em;
        margin-top: 0;
    }
}