.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 2px;
}

.picture:hover {
  cursor: pointer;
}

.selected {
  max-height: calc(80vh - 9rem);
  width: 100%;
  object-fit: contain;
}

/* tablet */
@media (min-width: 768px) {
  .picture {
    width: 150px;
    height: 150px;
  }

}

/* computer */
@media (min-width: 1025px) {
  .picture {
    width: 200px;
    height: 200px;
  }
  .selected {
    max-height: calc(90vh - 9rem);
  }
}
