.App {
  background-image: url(./Images/background.jpeg);
  text-align: center;
  min-height: 100vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
.mainCard {
  height: fit-content;
  min-width: 270px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  padding: 10px !important;
}
.Layout {
  display: grid;
  grid-template-rows: 100px auto 1fr;
  grid-template-areas:
    "Header"
    "Navigation"
    "Main";
  gap: 10px;
  min-height: calc(96vh - 40px);
}

.Header {
  grid-area: Header;
  align-self: center;
}

.Navigation {
  grid-area: Navigation;
}

.Main {
  grid-area: Main;
}

/*tablets and computers */
@media (min-width: 768px) {
  .Layout {
    grid-template-rows: 125px auto 1fr;
    grid-template-areas:
    "Header"
    "Navigation"
    "Main";
  }
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
