.App {

  text-align: center;
  min-height: 100vh;
  /* background-image: url(./Images/grass-background.png); */
  /* background-attachment: fixed; */
  /* background-position: center; */
  background: url(./Images/grass-background.png) no-repeat fixed center;
  background-size: cover;
  

}
.mainCard {
  min-height: 100vh;
  width: 100vw;
  min-width: 320px;
  padding-bottom: 10px;
  padding-top: 0;
  background-color:rgba(255, 255, 255, 0.178);
}
.Layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "Header"
    "Main";
  gap: 10px;
  /* min-height: calc(96vh - 40px); */
}

.Header {
  grid-area: Header;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
  "Banner"
  "Nav";
  justify-content: center;
}

.Banner {
  grid-area: Banner;
}

.Nav {
  grid-area: Nav;
}


.Main {
  grid-area: Main;
}

/*tablets and computers */
@media (min-width: 768px) {
  .Layout {
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "Header"
    "Main";
  }
  .Header {
    grid-template-rows: 80px 1fr;
  }
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
