@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap");

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

h1,
h2 {
  font-family: "Sacramento", cursive;
  font-size: 2.7em;
  font-kerning: none;
  font-weight: 400;
  margin-block-start: 0.33em;
  line-height: 1em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* global transitions and animations */

.fade-enter,
.card-fade-enter {
  opacity: 0;
  display: none;
}

.fade-exit, .fade-exit-active {
  display: none;
}

.fade-enter-active {
  display: block;
  animation: openContent 1500ms ease-out forwards;
}

@keyframes openContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-fade-enter-active {
  display: block;
  animation: openCard 1500ms ease-out forwards;
}


@keyframes openCard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flip-card-appear-active {
  animation: flipCard 1000ms ease-out none;
}

@keyframes flipCard {
  0% {
    transform: rotate3d(.2, -1, -.2, -72deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg);;
  }
}

.switch-wrapper {
  position: relative;
  height: 100%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* global responsive formatting */
@media (min-width: 768px) {
  h1 {
    margin-block-start: 0.67em;
  }
}
