.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(199, 199, 199, 0.75);
}

.modal {
  box-sizing: border-box;
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  max-height: 80vh;
  z-index: 100;
  overflow: scroll;
  margin: 0;
}

.header {
  background: #008080;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
  line-height: 1em;
}

.content {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
/* tablet */
@media (min-width: 768px){
  .modal {
    left: 20vw;
    width: 60vw;

  }
}
/* computer */
@media (min-width: 1025px) {
  .modal {
    left: 25vw;
    width: 50vw;
    top: 5vh;
    max-height: 90vh;
  }
}
